# LLM Tools
openai                  # External LLM API
tiktoken                # Token counting for OpenAI models
sentence-transformers   # Sentence embeddings and semantic search

# TTS (Text-to-Speech) Tools
elevenlabs              # External TTS using 11Labs API
piper-tts              # Local TTS with voice cloning support
azure-cognitiveservices-speech  # Azure TTS API

# STT (Speech-to-Text) & VAD Tools
faster-whisper          # Local STT using Faster Whisper
silero-vad              # Voice Activity Detection (VAD) using Silero
omegaconf               # Required for silero speech
vosk                    # Offline speech recognition
pocketsphinx            # Lightweight speech recognition (CMU Sphinx)
pvporcupine             # Highly accurate speech recognitio by Picovoice
pvrecorder              # needed for picovoice
fastrtc[vad, stt, tts]  # needed for fastrtc

# Sound Processing Tools
pydub                   # Audio processing for TTS modifications
soundfile               # Read & write sound files
sounddevice             # Audio I/O for playing and capturing sound

# Memory & Search Tools
bm25s                   # BM25 ranking for information retrieval
pystemmer               # Stem words for text processing
hyperdb-python          # High-performance database library
scikit-learn            # Predictive data analysis tools
flashrank               # Lightweight re-ranker

# Chat UI & Web Frameworks
flask-cors              # Cross-Origin Resource Sharing (CORS) for Flask
flask-socketio          # WebSockets support for Flask
eventlet                # Async support for Flask-SocketIO (alternative to Waitress)

# Miscellaneous Utilities
optimum[onnxruntime]    # ONNX model optimization
librosa                 # Audio analysis and feature extraction
configobj               # Maintain comments in config.ini during updates
python-dotenv           # Load environment variables from a .env file
pygame                  # Game development & multimedia support
evdev                   # Handle Linux input devices (keyboards, mice, controllers)
moviepy                 # Video editing and playback support
adafruit-pca9685        # Servo driver for hardware integration
selenium                # Web automation for browser control
discord.py              # Discord bot API
discord.py[voice]       # Voice chat functionality for Discord bots
requests                # HTTP library for API interactions
pandas                  # Data analysis and manipulation
joblib                  # Efficient serialization of Python objects
adafruit-pca9685        # Servo Control

# ui / camera module
picamera2               # PI camera module, can interface with hailo module
opencv-python           # Video classes and modifiers
PyOpenGL                # Needed for Neural NEt
simplejpeg              # Camera Requirement
numpy==2.1              # Needed for image rotations

# Battery
adafruit-circuitpython-ina260   # INA260 sensor
lgpio                           # Required for Raspberry pi 5 users


google-generativeai
dotenv
distro
PyYAML
filelock
jinja2
pillow
markupsafe
jsonschema
libarchive-c
PiDNG
piexif
python-prctl
v4l2-python3
babel
colorama

pytz

pandas

click